@media  (max-width:425px) {

   .txt_sobre_nos{
      width: 90%;
   }

   .secao_mapa .container{
      flex-direction: column;
   }

   .mapa_info{
      width: 90%;
      order: 2;
   }

   .tutorial{
      background-color:#000000db;
   }

   .tutorial .container{
      width: 90%;
      margin: 30% auto;
      text-align: center;
   }
}