html{
   scroll-behavior: smooth;
}

.corpo{
   background-color: #f8f8f8;
}

.cabecalho{
   background: linear-gradient(90deg,#4b8f0f,#bdc546);
   box-shadow: 0px 2px 5px #b5b5b5;
}

.cabecalho .container{
   font-family: 'nunito';
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 90%;
   padding: 2.5% 0;
   margin: 0 auto;
   color: #ffffff;
}

.logo_cabecalho{
   display: flex;
   align-items: center;
   gap: 15px;
}

.logo_cabecalho img{
   width: 8%;
}

.logo_img{
   font-weight: 700;
   font-size: 28px;
}

.menu_lista{
   display: flex;
   gap: 40px;
}

.item_menu{
   font-weight: 600;
   font-size: 16px;
}

.item_menu a{
   text-decoration: none;
   color: #ffffff;
}

.secao_sobre_nos{
   margin: 5% 0;
}

.secao_sobre_nos .container{
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 20px;
}

.titulo_sobre_nos{
   font-size: 38px;
   font-family: 'nunito';
   font-weight: 600
}

.txt_sobre_nos{
   font-weight: 500;
   font-family: 'lato';
   color: rgb(15, 15, 15);
   width: 75%;
   text-align: center;
   line-height: 1.4em;
}

.secao_mapa .container{
   display: flex;
   justify-content: space-between;
   width: 95%;
   margin: 0 auto;
}

.titulo_mapa{
   font-size: 28px;
   font-family: 'nunito';
   font-weight: 600;
   text-align: center;
   margin: 8% 0 5% 0;
}

.mapa_info{
   font-family: 'lato';
   width: 35%;
   padding: 3% 2%;
   border: 1px solid #9b9b9b6b;
   box-shadow: 0px 5px 5px #919191a6;
   background-color: #ffffff;
   border-radius: 6px;
}

.mapa_info .container {
   display: flex;
   flex-direction: column;
   row-gap: 15px;
}

.img_mapa_geral path:hover{
   fill: #a9ae7b;
   cursor: pointer;
   transition: 175ms;
}

.titulo_info{
   font-size: 20px;
   font-weight: 600;
   text-align: center;
}

.titulo_municipios{
   align-self: center;
   font-weight: 600;
}

.municipios{
   background-color: #e6e6e6;
   height: 400px;
   width: 85%;
   min-height: 200px;
   overflow-y: scroll;
   padding: 1.5%;
   align-self: center;
   text-decoration: none;
   box-shadow: 0px 1px 5px #9a9a9a;
   border-radius: 4px;
}

.rodape{
   background-color: #4b8f0f;
   color: #ffffff;
   font-family: 'nunito';
   font-size: 14px;
   text-align: center;
   margin-top: 5%;
   padding: 1%;
}


.tutorial{
   position: fixed;
   background-color: #000000c2;
   z-index: 1;
   top: 0;
   bottom: 0;
   display: block;
   width: 100%;
   cursor: pointer;
}

.tutorial .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 30px;
   margin-top: 25%;
}

.titulo_tutorial{
   font-size: 28px;
   font-weight: 700;
   font-family: 'nunito';
   color: #ffffff;
}

.subtitulo_tutorial{
   font-size: 16px;
   font-weight: 700;
   font-family: 'nunito';
   color: #ffffff;
}

.tutorial.remove{
   display: none;
}